.startup-description-card {
  width: 96%;
  margin-left: 2%;
  margin-top: 2%
}

.startup-description-name {
  font-size: 200%;
}

.startup-description-segment {
  font-size: 170%;
}

.startup-description {
  font-size: 120%;
  font-style: italic;
}