.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(20,20,70);
  padding: 0 1%;
}

.header-dropdown {
  margin-left: 2%;
}

.header-button-icon {
  font-size: 250%;
  color: #f0f0f0;
  background-color: rgb(50,50,150);

}

.header-title {
  flex-grow: 1;
  margin-left: 10%;
  font-size: 150%;
  color: #f0f0f0;
}