.startup-list-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.startup-list-item-card {
  width: 90%;
  margin-bottom: 10px;
  box-shadow: -3px 5px 10px #d8d8d8;
}

.startup-list-item-name {
  font-size: 200%;
}

.startup-list-item-segment {
  font-size: 170%;
}
